db/
incremental_db/
output_files/
simulation/modelsim/rtl_work

*.hdb
*.cdb
*.hdb
*.rdb
*.html
*.qdb
*.qmsg
*.cdb
*.hdb
*.rdb
*.hier_info
*.cdb
*.rdb
*.rdb
*.bak
*.bak*

Projeto2_nativelink_simulation.rpt
simulation/modelsim/msim_transcript
simulation/modelsim/vsim.wlf
Projeto2_nativelink_simulation.rpt
Projeto2_nativelink_simulation.rpt
simulation/modelsim/modelsim.ini
simulation/modelsim/Projeto2_run_msim_rtl_vhdl.do
simulation/modelsim/rtl_work/_lib1_0.qpg
simulation/modelsim/rtl_work/_vmake
