db/
incremental_db/
output_files/

*.hdb
*.cdb
*.hdb
*.rdb
*.html
*.qdb
*.qmsg
*.cdb
*.hdb
*.rdb
*.hier_info
*.cdb
*.rdb
*.rdb
*.bak
Projeto2_nativelink_simulation.rpt
simulation/modelsim/msim_transcript
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_lib.qdb
simulation/modelsim/rtl_work/_lib1_0.qdb
simulation/modelsim/rtl_work/_lib1_0.qtl
simulation/modelsim/vsim.wlf
Projeto2_nativelink_simulation.rpt
Projeto2_nativelink_simulation.rpt
