
db/prev_cmp_Projeto2.qmsg
db/Projeto2.(0).cnf.cdb
db/Projeto2.(0).cnf.hdb
db/Projeto2.(1).cnf.cdb
db/Projeto2.(1).cnf.hdb
db/Projeto2.(2).cnf.cdb
db/Projeto2.(2).cnf.hdb
db/Projeto2.(3).cnf.cdb
db/Projeto2.(3).cnf.hdb
db/Projeto2.(5).cnf.cdb
db/Projeto2.(5).cnf.hdb
db/Projeto2.(6).cnf.cdb
db/Projeto2.(6).cnf.hdb
db/Projeto2.(7).cnf.cdb
db/Projeto2.(7).cnf.hdb
db/Projeto2.(8).cnf.cdb
db/Projeto2.(8).cnf.hdb
db/Projeto2.(9).cnf.cdb
db/Projeto2.(9).cnf.hdb
db/Projeto2.ae.hdb
db/Projeto2.cmp.idb
db/Projeto2.cmp.rdb
db/Projeto2.cmp_merge.kpt
db/Projeto2.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/Projeto2.cycloneive_io_sim_cache.45um_tt_1200mv_85c_slow.hsd
db/Projeto2.db_info
db/Projeto2.eda.qmsg
db/Projeto2.fit.qmsg
db/Projeto2.hier_info
db/Projeto2.hif
db/Projeto2.lpc.html
db/Projeto2.lpc.rdb
db/Projeto2.lpc.txt
db/Projeto2.map.ammdb
db/Projeto2.map.bpm
db/Projeto2.map.cdb
db/Projeto2.map.hdb
db/Projeto2.map.kpt
db/Projeto2.map.logdb
db/Projeto2.map.qmsg
db/Projeto2.map.rdb
db/Projeto2.map_bb.cdb
db/Projeto2.map_bb.hdb
db/Projeto2.map_bb.logdb
db/Projeto2.npp.qmsg
db/Projeto2.pre_map.cdb
db/Projeto2.pre_map.hdb
db/Projeto2.root_partition.map.reg_db.cdb
db/Projeto2.routing.rdb
db/Projeto2.rtlv.hdb
db/Projeto2.rtlv_sg.cdb
db/Projeto2.rtlv_sg_swap.cdb
db/Projeto2.sgate.nvd
db/Projeto2.sgate_sm.nvd
db/Projeto2.sld_design_entry.sci
db/Projeto2.sld_design_entry_dsc.sci
db/Projeto2.smart_action.txt
db/Projeto2.tis_db_list.ddb
db/Projeto2.tiscmp.fast_1200mv_0c.ddb
db/Projeto2.tiscmp.slow_1200mv_85c.ddb
db/Projeto2.vpr.ammdb
incremental_db/compiled_partitions/Projeto2.db_info
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.ammdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.cdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.dfp
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.hdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.logdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.cdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.dpi
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/Projeto2.root_partition.map.hdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.kpt
incremental_db/compiled_partitions/Projeto2.rrp.hdb
output_files/Projeto2.flow.rpt
output_files/Projeto2.map.rpt
output_files/Projeto2.map.summary
db/prev_cmp_Projeto2.qmsg
db/Projeto2.(0).cnf.cdb
db/Projeto2.(0).cnf.hdb
db/Projeto2.(1).cnf.cdb
db/Projeto2.(1).cnf.hdb
db/Projeto2.(2).cnf.cdb
db/Projeto2.(2).cnf.hdb
db/Projeto2.(3).cnf.cdb
db/Projeto2.(3).cnf.hdb
db/Projeto2.(5).cnf.cdb
db/Projeto2.(5).cnf.hdb
db/Projeto2.(6).cnf.cdb
db/Projeto2.(6).cnf.hdb
db/Projeto2.(7).cnf.cdb
db/Projeto2.(7).cnf.hdb
db/Projeto2.(8).cnf.cdb
db/Projeto2.(8).cnf.hdb
db/Projeto2.(9).cnf.cdb
db/Projeto2.(9).cnf.hdb
db/Projeto2.ae.hdb
db/Projeto2.cmp.idb
db/Projeto2.cmp.rdb
db/Projeto2.cmp_merge.kpt
db/Projeto2.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/Projeto2.cycloneive_io_sim_cache.45um_tt_1200mv_85c_slow.hsd
db/Projeto2.db_info
db/Projeto2.eda.qmsg
db/Projeto2.fit.qmsg
db/Projeto2.hier_info
db/Projeto2.hif
db/Projeto2.lpc.html
db/Projeto2.lpc.rdb
db/Projeto2.lpc.txt
db/Projeto2.map.ammdb
db/Projeto2.map.bpm
db/Projeto2.map.cdb
db/Projeto2.map.hdb
db/Projeto2.map.kpt
db/Projeto2.map.logdb
db/Projeto2.map.qmsg
db/Projeto2.map.rdb
db/Projeto2.map_bb.cdb
db/Projeto2.map_bb.hdb
db/Projeto2.map_bb.logdb
db/Projeto2.npp.qmsg
db/Projeto2.pre_map.cdb
db/Projeto2.pre_map.hdb
db/Projeto2.root_partition.map.reg_db.cdb
db/Projeto2.routing.rdb
db/Projeto2.rtlv.hdb
db/Projeto2.rtlv_sg.cdb
db/Projeto2.rtlv_sg_swap.cdb
db/Projeto2.sgate.nvd
db/Projeto2.sgate_sm.nvd
db/Projeto2.sld_design_entry.sci
db/Projeto2.sld_design_entry_dsc.sci
db/Projeto2.smart_action.txt
db/Projeto2.tis_db_list.ddb
db/Projeto2.tiscmp.fast_1200mv_0c.ddb
db/Projeto2.tiscmp.slow_1200mv_85c.ddb
db/Projeto2.vpr.ammdb
incremental_db/compiled_partitions/Projeto2.db_info
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.ammdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.cdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.dfp
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.hdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.logdb
incremental_db/compiled_partitions/Projeto2.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.cdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.dpi
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/Projeto2.root_partition.map.hdb
incremental_db/compiled_partitions/Projeto2.root_partition.map.kpt
incremental_db/compiled_partitions/Projeto2.rrp.hdb

db/prev_cmp_Projeto2.qmsg
db/prev_cmp_Projeto2.qmsg
db/Projeto2.(0).cnf.cdb
db/Projeto2.(0).cnf.hdb
db/Projeto2.(2).cnf.cdb
db/Projeto2.(2).cnf.hdb
db/Projeto2.(3).cnf.cdb
db/Projeto2.(3).cnf.hdb
db/Projeto2.(4).cnf.cdb
db/Projeto2.(4).cnf.hdb
*.hdb
*.cdb
*.hdb
*.rdb
*.html
*.qdb
*.qmsg
*.cdb
*.hdb
*.rdb
*.hier_info
